HELP.md
target/maven-archiver
target/maven-status
target/classes
autovalue-demo-0.0.1-SNAPSHOT.jar
autovalue-demo-0.0.1-SNAPSHOT.jar.original
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
